/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f1e1;
    color: #4e4d47;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header Styles */
header {
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    background-color: transparent; /* Makes the header transparent */
}

header h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
    margin: 0;
    color: #fff;
}

/* Button Menu Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff; /* Border color for buttons */
    background-color: transparent;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: #47a474; /* Green background on hover */
    color: white;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content h2 {
    font-size: 3rem;
    font-family: 'Zilla Slab', serif;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Feature Sections */
.feature {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    height: 100vh;
    cursor: pointer; /* Makes the section clickable */
}

.feature a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    text-decoration: none; /* Remove link underlining */
}

.feature-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
}

.feature h3 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.feature p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.feature-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: all 0.5s ease;
}

/* Video effect when hovered */
.feature:hover .feature-video {
    transform: scale(1.1); /* Zoom the video */
    opacity: 1;
    z-index: 2;
}

/* Keyframe Animations */
@keyframes fadeInSection {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Scroll Animation */
.feature.in-view .feature-video {
    opacity: 1;
}
